html{
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: sticky;
    top: 0;
}

header h1 {
    color: skyblue;
    font-size: 2rem;
    text-transform: uppercase;
    flex-grow: 0.6;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: .5rem;
    transition: color .5s ease-in-out;
}

header a:hover {
    color: skyblue;
}

.hero {
    background-image: linear-gradient(120deg, skyblue, rgb(20, 228, 232));
    color: snow;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.text h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn {
    font-size: 1.3rem;
    background-color: rgb(253, 251, 251);
    color: rgb(32, 184, 244);
    border-radius: 2rem;
    font-weight: bolder;
    padding: 1rem;
    text-decoration: none;
}

#about {
    text-align: center;
    padding: 4.2rem;
    max-width: 800px;
    margin: auto;
}

.about-me h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(35, 194, 218);
    font-size: 3rem;
}

.about-me p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgb(71, 69, 69);
}

.skills {
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 1rem 1.5rem;
}

.skills h2 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(35, 194, 218);
    font-size: 3rem;
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2rem;
}

.skill {
    background-color: white;
    border-radius: 0.7rem;
    padding: 1rem;
    transition: transform .5s ease-in-out;
}

.skill:hover {
    transform: translateY(-.7rem);
}

.skill h3 {
    font-size: 2rem;
    color: aqua;
    margin-bottom: 1rem;
}

.projects {
    padding: 4.2rem;
    text-align: center;
    background-color: white;
}

.projects h2 {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(35, 194, 218);
}

.project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    flex-wrap: nowrap;
}

.project {
    background-color: rgb(241, 241, 241);
    border-radius: 0.7rem;
    padding: 1rem;
    transition: transform .5s ease-in-out;
}

.project:hover {
    transform: translatey(-0.7rem);
}

.project h3 {
    font-size: 2rem;
    color: aqua;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.contacts {
    padding: 4.2rem;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

.contacts h2 {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(35, 194, 218);
}

.contacts h3 {
    color: rgb(71, 69, 69);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info a {
    background-color: white;
    font-size: 1.5rem;
    color: rgb(71, 69, 69);
    border-radius: .7rem;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: background-color 1s ease-in-out;
}

.contact-info a:hover {
    background-color: skyblue;
}

footer {
    text-transform: capitalize;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 3rem;
}

@media screen and (max-width:428px) {
    html{
        scroll-behavior: smooth;
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header {
        position: sticky;
        top: 0;
        padding: 10px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        color: skyblue;
        text-transform: uppercase;
        flex-grow: 0.8;
        font-size: 1rem;
    }

    header a {
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        font-size: .9rem;
        padding: .2rem;
    }

    .hero {
        background-image: linear-gradient(to bottom, skyblue, rgb(20, 228, 232));
        color: snow;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .text h1 {
        font-size: 2rem;
        margin: 0 0 1rem 0;
    }

    .text h2 {
        font-size: 1.5rem;
        margin: 0 0 1.5rem 0;
        font-weight: 500;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .btn {
        font-size: 1rem;
        background-color: rgb(253, 251, 251);
        color: rgb(32, 184, 244);
        border-radius: 2rem;
        font-weight: bolder;
        padding: 1rem;
        text-decoration: none;
    }

    #about {
        text-align: center;
        padding: 3rem;
        max-width: 800px;
        margin: auto;
    }

    .about-me h2 {
        margin-bottom: 1rem;
        font-weight: bold;
        text-transform: capitalize;
        color: rgb(35, 194, 218);
        font-size: 2.5rem;
    }

    .about-me p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: rgb(71, 69, 69);
    }

    .skills {
        background-color: rgb(241, 241, 241);
        text-align: center;
        padding: 0.5rem 1rem;
    }

    .skills h2 {
        text-transform: capitalize;
        margin-bottom: 1rem;
        font-weight: bold;
        color: rgb(35, 194, 218);
        font-size: 2.5rem;
    }

    .skill-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 2rem;
    }

    .skill {
        background-color: white;
        border-radius: 0.7rem;
        padding: 1rem;
    }

    .skill h3 {
        font-size: 1.5rem;
        color: aqua;
        margin-bottom: 1rem;
    }

    .projects {
        padding: 3rem;
        text-align: center;
        background-color: white;
    }

    .projects h2 {
        font-size: 2.5rem;
        text-transform: capitalize;
        margin-bottom: 1rem;
        font-weight: bold;
        color: rgb(35, 194, 218);
    }

    .project-list {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
    }

    .project {
        background-color: rgb(241, 241, 241);
        border-radius: 0.7rem;
        padding: 1rem;
    }

    .project h3 {
        font-size: 1.5rem;
        color: aqua;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }

    .contacts {
        padding: 3rem;
        text-align: center;
        background-color: rgb(241, 241, 241);
    }

    .contacts h2 {
        text-transform: capitalize;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: rgb(35, 194, 218);
    }

    .contacts h3 {
        color: rgb(71, 69, 69);
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    contact-info {
        display: flex;
        flex-direction: column;
    }

    .contact-info a {
        background-image: linear-gradient(120deg, skyblue, rgb(20, 228, 232));
        font-size: 1.5rem;
        color: white;
        border-radius: .7rem;
        padding: .5rem 1rem;
        text-decoration: none;
    }

    footer {
        text-align: center;
        background-color: black;
        color: white;
        font-size: 1rem;
        padding: 10px;
        margin-top: 3rem;
    }
}
